.login{
    display:flex;
    align-items:center;
    flex-direction: column;   
    padding-top: 7%;

}
.label{
 margin-top: 3%;   

}

form{
    display:flex;
    flex-direction:column;
    margin-top:5%;
        
}
    
    .botao{
        position: absolute;
        margin-left: 44%;
        margin-top: 3px;
        
        }
    button{
    
    margin-right: 15px;
    margin-top: 3px;
    
    }
    