<div class="login">
    <mat-card-title class="label">Bem Vindo a JC-INFOPEL </mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Usuário" [(ngModel)]="login.user" name="user" type="text" class="validate">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Senha" [(ngModel)]="login.pass" name="pass" type="password" class="validate">
        </mat-form-field>


    </form>
</div>
<div class="botao">
    <button mat-raised-button (click)="logar()" type="submit" name="action" color="primary">
        Logar
        
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>
