<mat-card>
    <mat-card-title>Novo Funcionario</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="funcionario.name" name="name" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo" [(ngModel)]="funcionario.type" name="type">
        </mat-form-field>


    </form>

    <button mat-raised-button (click)="createFuncionario()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>